# Working with Python and MySQL

## Creating MYSQL connector

In [3]:
import MySQLdb as mdb

In [4]:
user = 'YOURUSERNAME'
passwd = 'YOURPASSWORD'

In [5]:
# creating connection
con = mdb.connect(
                host = '127.0.0.1', user = user, passwd = passwd) #optional - db="schema_name"

In [6]:
# setting a cursor
cursor = con.cursor()     # get the cursor

## Executing SQL statement

In [ ]:
cursor.execute("SHOW DATABASES")  # running SQL
print  cursor.fetchall()

### USE specific schema

In [8]:
cursor.execute("USE world")

0L

## Classic Query

In [9]:
cursor.execute("SELECT * FROM country WHERE population>200000000")
for i in range(cursor.rowcount):
    row = cursor.fetchone()
    print row

('CHN', 'China', 'Asia', 'Eastern Asia', 9572900.0, -1523, 1277558000L, 71.4, 982268.0, 917719.0, 'Zhongquo', "People'sRepublic", 'Jiang Zemin', 1891L, 'CN')
('IDN', 'Indonesia', 'Asia', 'Southeast Asia', 1904569.0, 1945, 212107000L, 68.0, 84982.0, 215002.0, 'Indonesia', 'Republic', 'Abdurrahman Wahid', 939L, 'ID')
('IND', 'India', 'Asia', 'Southern and Central Asia', 3287263.0, 1947, 1013662000L, 62.5, 447114.0, 430572.0, 'Bharat/India', 'Federal Republic', 'Kocheril Raman Narayanan', 1109L, 'IN')
('USA', 'United States', 'North America', 'North America', 9363520.0, 1776, 278357000L, 77.1, 8510700.0, 8110900.0, 'United States', 'Federal Republic', 'George W. Bush', 3813L, 'US')

## DDL - CREATE, DROP, ALTER

In [10]:
cursor.execute("DROP SCHEMA IF EXISTS class7 ;")
cursor.execute("CREATE SCHEMA IF NOT EXISTS class7 ;")
cursor.execute("USE class7 ;")

0L

In [11]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS students (
      `ID` int(11) NOT NULL,
      `Name` varchar(45) DEFAULT NULL,
      `Gender` varchar(45) DEFAULT NULL,
      PRIMARY KEY (`ID`)
        ) ;   """)

0L

## DML - Insert Statement

In [12]:
cursor.execute("INSERT INTO students VALUES ('3', 'Or', 'Male'), ('5', 'Ben', 'Male'), ('7', 'Or', 'Female');")
cursor.execute("SELECT * FROM students ")
print cursor.fetchall()

((3L, 'Or', 'Male'), (5L, 'Ben', 'Male'), (7L, 'Or', 'Female'))

Check the table via Workbech - what the difference?


### Commiting changes

In [13]:
con.commit()

### Closing the connection

In [14]:
#closing the connection
cursor.close()
con.close()